
<%= form_for @tenant do |f| %>
  <div class="form-group col-md-12 no-side-padding">
    <%= f.label :name, 'Studio' %>
    <span class='description'>(Unique name for your Studio)</span>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>
 
  <br/>
  <div class='row col-md-12'>
    <%= f.submit 'Update Tenant', class: 'btn btn-primary', id: 'update_plan' %>
  </div>
<% end %>