<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>New content has been added in your Lesson Area. Please <%= link_to 'Log In for Details', 'https://thall13-guitar-teach.herokuapp.com' %>.</p>
  </body>
</html>