<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head></head>-->
<!--      <body>-->
<!--        <div class= 'container well'>-->
<!--          <%= yield %>-->
<!--        </div>-->
          
<!--      </body>-->
<!--</html>-->

<div class= ' col-md-4'>
          <%= yield %>
</div>